.main-slider-hero {
  .slide-slider-content {
    position: relative;
  }
}
.flex-pag-slider {
  padding-top: 18px;
  display: flex;
  gap: 9px;
  button {
    width: 14px;
    height: 4px;
    border: none;
    &.active-pag-btn {
      background: var(--gray-primary);
    }
    &.def-pag-btn {
      background: var(--border-clr);
    }
  }
}
.container_slider {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 16px;
  button {
    display: none;
    max-width: 32px;
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--btn-bg-dark);
    cursor: pointer;
    &:hover {
      border: 1px solid var(--btn-hover-border);
      background-color: var(--btn-hover-bg);
    }
    svg {
      stroke: var(--text-clr);
    }
    @media (min-width: 640px) {
      display: block;
    }
  }
}
.pagination_custom_hero {
  padding: 0 var(--def-pad);
  display: flex;
  justify-content: center;
}
