.productSpecification {
  display: flex;
  flex-direction: column;
  gap: 56px;
  font-family: 'Mont', sans-serif;
  @media (min-width: 640px) {
    gap: 64px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contentColumn {
  width: 100%;

  @media (min-width: 1200px) {
    flex: 1;
    min-width: 0;
    max-width: calc(100% - 320px);
  }
}

.specsColumn {
  width: 100%;

  @media (min-width: 1200px) {
    flex: 1;
  }
}
