.button__active {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #B4BDC3;
    background-image: url(/Icons/ArrowLeftActive.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
    &:hover {
    border: 1px solid #313237;
}
}

.button__disabled {
    height: 32;
    width: 32px;
    background-color: #fff;
    border: 1px solid #E2E6E9;
    background-image: url(/Icons/ArrowLeft.svg);
    background-repeat: no-repeat;
    background-position: center;
}
