.color {
  height: 30px;
  width: 30px;
  border: 2px solid transparent;
  border-radius: 36px;
  background-color: var(--chang-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 36px;
  border: 1px solid var(--border-clr);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--gray-secondary);
  }
}

.activ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 36px;
  border: 2px solid var(--text-clr);
  cursor: pointer;
}
