.button__active,
.button__disabled {
  height: 32px;
  width: 32px;
  background-color: var(--btn-bg-dark);
  border: 1px solid var(--border-clr);
  line-height: 100%;
}
.button__active {
  cursor: pointer;
  outline: none;
  &:hover {
    border: 1px solid var(--btn-hover-border);
    background-color: var(--btn-hover-bg);
  }
}

.button__disabled {
  background-color: transparent;
}
