@use './scss/slider_hero';
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg);
}
:root {
  --main-bg: #fff;
  --gray-primary: #313237;
  --accent: #313237;
  --gray-secondary: #89939a;
  --border-clr: #e2e6e9;
  --card-border-clr: #e2e6e9;
  --text-clr: #313237;
  --max-width: 1136px;
  --active-bg-color: #313237;
  --chang-color: #fcdbc1;
  --count-red-color: #eb5757;
  --background-accessories-color: #b64267;
  --background-phone-color: #fee8d3;
  --background-tablets-color: #94959a;

  --def-pad: 16px;
  --card-bg: #fff;
  --btn-bg-dark: #fff;
  --btn-bg-light: #fff;
  --btn-hover-bg: #fff;
  --btn-hover-border: #313237;
  --border-color: #b4bdc3;
  --button-capacity-border-color: #b4bdc3;
  --icon-light: #b4bdc4;
  --button-capacity-shadow-color: #1b263922;
  --red-like: #eb5757;
  --nav-shadow-clr: #e2e6e9;
  --selected-label-clr: #27ae60;
  --selected-bg: #fff;
  --round-border: #e2e6e9;
  --color-white: #fff;
  --active-text: #f1f2f9;
  --active-select-text: #b4bdc3;
  @media (min-width: 640px) {
    --def-pad: 32px;
  }
}
html[data-theme='dark'] {
  --main-bg: #0f1121;
  --gray-primary: #905bff;
  --accent: #905bff;
  --gray-secondary: #75767f;
  --border-clr: #3b3e4a;
  --card-border-clr: #161827;
  --text-clr: #f1f2f9;
  --active-bg-color: #fff;
  --chang-color: #fcdbc1;
  --btn-bg-dark: #323542;
  --btn-bg-light: #f1f2f9;
  --card-bg: #161827;
  --btn-hover-bg: #4a4d58;
  --btn-hover-border: transparent;
  --border-color: #323542;
  --button-capacity-border-color: #4a4d58;
  --round-border: #3b3e4a;
  --btn-border: #3b3e4a;
  --icon-light: #b4bdc4;
  --button-capacity-shadow-color: #1b263922;
  --red-like: #eb5757;
  --nav-shadow-clr: #323542;
  --selected-label-clr: #fff;
  --selected-bg: #fff;
  --active-text: #313237;
  --active-select-text: #313237;
}
@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont-SemiBold';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}
.main {
  max-width: var(--max-width);
  margin-inline: auto;
  min-height: calc(100vh - 254px - 48px);
  padding-inline: 16px;
  padding-top: 24px;
  padding-bottom: 56px;
  @media screen and (min-width: 640px) {
    min-height: calc(100vh - 100px - 48px);
    padding-inline: 24px;
    padding-top: 40px;
    padding-bottom: 64px;
  }
  @media screen and (min-width: 1200px) {
    min-height: calc(100vh - 100px - 64px);
    padding-inline: 32px;
    padding-top: 24px;
    padding-bottom: 80px;
  }
}
.main-heading {
  color: var(--text-clr);
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  @media screen and (min-width: 640px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}
.section:not(:last-child) {
  margin-bottom: 56px;
  @media screen and (min-width: 640px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}
.section-title {
  font-size: 1.375rem;
  font-family: 'Mont-Bold', sans-serif;
  color: var(--text-clr);
  @media screen and (min-width: 640px) {
    font-size: 2rem;
  }
}

.card_dynamic {
  min-width: 212px;
}
.card_layout {
  min-width: 212px;
  @media screen and (min-width: 640px) {
    max-width: 288px;
  }
  @media screen and (min-width: 768px) {
    width: 229px;
  }
  @media screen and (min-width: 1200px) {
    width: 272px;
  }
}

.Toastify__toast.my-custom-toast {
  background-color: var(--main-bg); 
  color: var(--text-clr);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  border-radius: 0;
}
.Toastify__toast-container .Toastify__close-button {
  color: var(--text-clr);
}

.Toastify__close-button:hover {
  color: var(--active-bg-color);
}
