body {
  margin: 0;
}
:root {
  --gray-primary: #313237;
  --gray-secondary: #89939a;
  --border-clr: #e2e6e9;
  --text-clr: #313237;
  --max-width: 1136px;
  --active-bg-color: #313237;
  --chang-color: #fcdbc1;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont-SemiBold';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}
.main {
  padding-inline: 16px;
  @media screen and (min-width: 640px) {
    padding-inline: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-inline: 32px;
  }
}
.main-heading {
  color: var(--text-clr);
  font-size: 2.5rem;
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
}
.section,
.main {
  max-width: var(--max-width);
  margin: auto;
}
.section-title {
  font-size: 1.375rem;
  font-family: 'Mont-Bold', sans-serif;
  @media screen and (min-width: 640px) {
    font-size: 2rem;
  }
}
