@use "./scss/slider_hero";
body {
  margin: 0;
  min-height: 100vh;
}
:root {
  --gray-primary: #313237;
  --gray-secondary: #89939a;
  --border-clr: #e2e6e9;
  --text-clr: #313237;
  --max-width: 1136px;
  --active-bg-color: #313237;
  --chang-color: #fcdbc1;
  --count-red-color: #EB5757;
  --background-accessories-color: #b64267;
  --background-phone-color: #fee8d3;
  --background-tablets-color: #94959a;

  --def-pad: 16px;
  --border-color: #B4BDC3;
  --button-capacity-border-color: #B4BDC3;
  --button-capacity-shadow-color: #1b263922;
  --color-white: #fff;
  @media (min-width: 640px) {
    --def-pad: 32px;
  }

}

@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont-SemiBold';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}
.main {
  max-width: var(--max-width);
  margin-inline: auto;
  min-height: calc(100vh - 254px);
  padding-inline: 16px;
  padding-top: 24px;
  @media screen and (min-width: 640px) {
    min-height: calc(100vh - 100px);
    padding-inline: 24px;
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-inline: 32px;
    padding-top: 24px;
  }
}
.main-heading {
  color: var(--text-clr);
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  @media screen and (min-width: 640px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}
.section {
  margin-bottom: 56px;
  @media screen and (min-width: 640px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}
.section-title {
  font-size: 1.375rem;
  font-family: 'Mont-Bold', sans-serif;
  @media screen and (min-width: 640px) {
    font-size: 2rem;
  }
}



/* delete after implementing banner slider fakeSimulatedDiv */
.fakeSimulatedDiv {
  height: 352px;
  width: 320px;

  @media screen and (min-width: 640px) and (max-width: 1199px) {
    height: 221px;
    width: 592px;
  }

  @media screen and (min-width: 1200px) {
    height: 432px;
    width: 1136px;
  }
}

.card_dynamic {
  min-width: 212px;
}
.card_layout {
  min-width: 212px;
  @media screen and (min-width: 640px) {
    max-width: 288px;
  }
  @media screen and (min-width: 768px) {
    width: 229px;
  }
  @media screen and (min-width: 1200px) {
    width: 272px;
  }
}
