.button {
  height: 32px;
  width: 32px;
  line-height: 100%;
  background-color: var(--btn-bg-dark);
  border: 1px solid var(--border-clr);
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.button:hover {
  border: 1px solid var(--btn-hover-border);
  background-color: var(--btn-hover-bg);
}
