.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 500;
    gap: 20px;
    padding-top: 40px;
}

.people_blok {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 220px;
    gap: 20px;
    border-radius: 4px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border-clr);
    &:hover{
        box-shadow: 0px 3px 10px 0px var(--button-capacity-shadow-color);
    }
}

.image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Mont', sans-serif;
    color: var(--text-clr);
    margin: 0;
    font-size: 100%;
}

.title {
    font-family: 'Mont', sans-serif;
    color: var(--text-clr);
    margin: 0;
    font-size: 80%;
}

.link {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.icon {
    padding: 5px;
    border-radius: 4px;
     &:hover{
        scale: 1.1;
    }
}