.dropdown {
  height: 59px;
  width: 100%;
  background-color: aqua;
  margin-bottom: 24px;
}

.info {
  color: var(--gray-secondary);
  font-family: 'Mont', sans-serif;
  font-size: 0.875rem;
}
