.castomization {
  flex: 1;
  width: 100%;
  @media screen and (min-width: 640px) {
    max-width: 320px;
  }
}

.head__text {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.color__text {
  color: var(--gray-secondary);
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

.id__text {
  color: var(--gray-secondary);
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  @media screen and (min-width: 640px) {
    position: absolute;
    right: 0;
  }
}

.available__color {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.capacity__text {
  color: var(--gray-secondary);
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-top: 1px solid var(--border-clr);
  padding-top: 24px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.capacity {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.price {
  height: 31px;
  display: flex;
  margin: 0;
  gap: 8px;
  border-top: 1px solid var(--border-clr);
  margin-top: 24px;
  padding-top: 32px;
}

.price__current {
  font-weight: 700;
  line-height: 100%;
  color: var(--text-clr);
  font-size: 2rem;
  font-family: 'Mont-Bold', sans-serif;
  margin: 0;
}

.wrong__price {
  font-weight: 500;
  color: var(--gray-secondary);
  text-decoration: line-through;
  font-size: 22px;
  font-family: 'Mont', sans-serif;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  grid-gap: 8px;
  margin-top: 16px;
}

.info__blok {
  display: flex;
  justify-content: space-between;
  height: 77px;
  font-family: 'Mont', sans-serif;
  margin: 8px 0;
  height: 15px;
}

.blok {
  margin-top: 32px;
}

.parameter {
  color: var(--gray-secondary);
  margin: 0;
  font-size: 12px;
}

.info {
  margin: 0;
  font-size: 12px;
  color: var(--text-clr);
}
