.button {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid var(--button-capacity-border-color);
    font-size: 14px;
    color: var(--text-clr);
    font-family: 'Mont', sans-serif;
    cursor: pointer;

    &:hover {
    border: 1px solid var(--text-clr);
}
}

.button__selected {
    height: 32px;
    width: 32px;
    background-color: var(--text-clr);
    font-size: 14px;
    color: #fff;
    font-family: 'Mont', sans-serif;
    cursor: pointer;
}