.cart_page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Mont', sans-serif;
}

.title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 32px;
  text-align: left;
  font-family: 'Mont-Bold', sans-serif;
  color: var(--text-clr);

  @media screen and (max-width: 767px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
  }
}

.checkout_form_section {
  flex: 1;
  @media screen and (min-width: 1200px) {
    flex: 2;
  }
}

.order_summary_section {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}
