.button {
  display: flex;
  height: 40px;
  flex: 1;
  background: var(--accent);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Mont', sans-serif;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 13px 0px #17203166;
  }
}

.button__selected {
  flex: 1;
  background-color: var(--btn-bg-dark);
  color: var(--selected-label-clr);
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Mont-SemiBold', sans-serif;

  cursor: pointer;
}
