.button {
    display: flex;
    height: 40px;
    flex: 1;
    background: #313237;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    font-family: "Mont", sans-serif;

    &:hover {
    box-shadow: 0px 3px 13px 0px #17203166;
}
}

.button__selected {
    background-color: #E2E6E9ff;
    color: #27AE60;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}